.container{
    width: 2000px;
    height: 1000px;
    margin: auto;
    position: relative;
}

.logo{
    margin: 10px 0 0 275px;
}

.title{
    text-align: center;
}


.childInput{
    border: 1px solid grey ;
    width: 500px;
    height: 350px;
    position: relative;
    top: 50%;
    left: 10%;
    margin: -500px 0 0 -75px;
    padding: 40px;
}

.childOutput{
    border: 1px solid grey ;
    width: 500px;
    height: 350px;
    position: relative;
    top: 50%;
    left: 60%;
    margin: -350px 0 0 -75px;
    padding: 40px;
}